<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ESM</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Validation</display-name>
    <servlet-name>Validation</servlet-name>
    <servlet-class>esm.Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validation</servlet-name>
    <url-pattern>/validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Work</display-name>
    <servlet-name>Work</servlet-name>
    <servlet-class>esm.Work</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Work</servlet-name>
    <url-pattern>/work</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Note</display-name>
    <servlet-name>Note</servlet-name>
    <servlet-class>esm.Note</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Note</servlet-name>
    <url-pattern>/note</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addemployee</display-name>
    <servlet-name>Addemployee</servlet-name>
    <servlet-class>esm.Addemployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addemployee</servlet-name>
    <url-pattern>/addemployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approve</display-name>
    <servlet-name>Approve</servlet-name>
    <servlet-class>esm.Approve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approve</servlet-name>
    <url-pattern>/approve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pdfgenerator</display-name>
    <servlet-name>Pdfgenerator</servlet-name>
    <servlet-class>esm.Pdfgenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pdfgenerator</servlet-name>
    <url-pattern>/pdfgenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Filegenerator</display-name>
    <servlet-name>Filegenerator</servlet-name>
    <servlet-class>esm.Filegenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filegenerator</servlet-name>
    <url-pattern>/filegenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>esm.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Changepw</display-name>
    <servlet-name>Changepw</servlet-name>
    <servlet-class>esm.Changepw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Changepw</servlet-name>
    <url-pattern>/changepw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkid</display-name>
    <servlet-name>Checkid</servlet-name>
    <servlet-class>esm.Checkid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkid</servlet-name>
    <url-pattern>/checkid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgotpw</display-name>
    <servlet-name>Forgotpw</servlet-name>
    <servlet-class>esm.Forgotpw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgotpw</servlet-name>
    <url-pattern>/forgotpw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeEmailId</display-name>
    <servlet-name>ChangeEmailId</servlet-name>
    <servlet-class>esm.ChangeEmailId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEmailId</servlet-name>
    <url-pattern>/changeEmailId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>esm.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>